
KibaDDD/.vs/KibaDDD/DesignTimeBuild/.dtbcache
KibaDDD/.vs/KibaDDD/v15/.suo
KibaDDD/.vs/KibaDDD/v15/Server/sqlite3/db.lock
KibaDDD/.vs/KibaDDD/v15/Server/sqlite3/storage.ide
KibaDDD/.vs/KibaDDD/v15/Server/sqlite3/storage.ide-shm
KibaDDD/.vs/KibaDDD/v15/Server/sqlite3/storage.ide-wal
KibaDDD/KibaDDD/bin/Debug/EntityFramework.dll
KibaDDD/KibaDDD/bin/Debug/EntityFramework.SqlServer.dll
KibaDDD/KibaDDD/bin/Debug/KibaDDD.exe
KibaDDD/KibaDDD/bin/Debug/KibaDDD.exe.config
KibaDDD/KibaDDD/bin/Debug/KibaDDD.pdb
KibaDDD/KibaDDD/bin/Debug/Log/2018-11-30.TXT
KibaDDD/KibaDDD/bin/Debug/Log/2018-12-01.TXT
KibaDDD/KibaDDD/bin/Debug/log4net.config
KibaDDD/KibaDDD/bin/Debug/log4net.dll
KibaDDD/KibaDDD/bin/Debug/Repository.dll
KibaDDD/KibaDDD/bin/Debug/Repository.dll.config
KibaDDD/KibaDDD/bin/Debug/Repository.pdb
KibaDDD/KibaDDD/bin/Debug/Utility.dll
KibaDDD/KibaDDD/bin/Debug/Utility.pdb
KibaDDD/KibaDDD/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
KibaDDD/KibaDDD/obj/Debug/KibaDDD.csproj.CopyComplete
KibaDDD/KibaDDD/obj/Debug/KibaDDD.csproj.CoreCompileInputs.cache
KibaDDD/KibaDDD/obj/Debug/KibaDDD.csproj.FileListAbsolute.txt
KibaDDD/KibaDDD/obj/Debug/KibaDDD.csprojAssemblyReference.cache
KibaDDD/KibaDDD/obj/Debug/KibaDDD.exe
KibaDDD/KibaDDD/obj/Debug/KibaDDD.pdb
KibaDDD/KibaDDD/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
KibaDDD/KibaDDD/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
KibaDDD/KibaDDD/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
KibaDDD/Repository/bin/Debug/CodeFirstStoredProcs.dll
KibaDDD/Repository/bin/Debug/EntityFramework.dll
KibaDDD/Repository/bin/Debug/EntityFramework.Extended.dll
KibaDDD/Repository/bin/Debug/EntityFramework.SqlServer.dll
KibaDDD/Repository/bin/Debug/log4net.dll
KibaDDD/Repository/bin/Debug/Repository.dll
KibaDDD/Repository/bin/Debug/Repository.dll.config
KibaDDD/Repository/bin/Debug/Repository.pdb
KibaDDD/Repository/bin/Debug/Utility.dll
KibaDDD/Repository/bin/Debug/Utility.pdb
KibaDDD/Repository/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
KibaDDD/Repository/obj/Debug/Repository.csproj.CopyComplete
KibaDDD/Repository/obj/Debug/Repository.csproj.CoreCompileInputs.cache
KibaDDD/Repository/obj/Debug/Repository.csproj.FileListAbsolute.txt
KibaDDD/Repository/obj/Debug/Repository.csprojAssemblyReference.cache
KibaDDD/Repository/obj/Debug/Repository.dll
KibaDDD/Repository/obj/Debug/Repository.pdb
KibaDDD/Repository/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
KibaDDD/Repository/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
KibaDDD/Repository/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
KibaDDD/Utility/bin/Debug/log4net.dll
KibaDDD/Utility/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
KibaDDD/Utility/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
KibaDDD/Utility/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
KibaDDD/Utility/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
KibaDDD/Utility/obj/Debug/Utility.csproj.CopyComplete
KibaDDD/Utility/obj/Debug/Utility.csproj.CoreCompileInputs.cache
KibaDDD/Utility/obj/Debug/Utility.csproj.FileListAbsolute.txt
KibaDDD/Utility/obj/Debug/Utility.csprojAssemblyReference.cache
KibaDDD/Utility/obj/Debug/Utility.dll
KibaDDD/Utility/obj/Debug/Utility.pdb
KibaDDD/KibaDDD/bin/Debug/Log/2018-12-07.TXT
KibaDDD/KibaDDD/bin/Debug/Log/2018-12-09.TXT
